<ion-content>
  <div class="container">
    <ion-grid>
      <ion-icon name="arrow-back-circle-outline" class="back" routerLink="/bank"></ion-icon>
      <input type="text" id="fname" placeholder="Search Banks"><br><br>
      <h4>Select your bank</h4>
      <br>
      <ion-row>
        <ion-col size="5">
          <div>
            <img src="../../assets/merchant_icons/axis.svg" alt="" >
          </div> 
          <div>
            <img src="../../assets/merchant_icons/icici.svg" alt="" >
          </div>
          <img src="../../assets/merchant_icons/pnb.svg" alt="">
          </ion-col> 
        &nbsp;&nbsp;
         <ion-col size="5">
            <div>
              <img src="../../assets/merchant_icons/hdfc.svg" alt="">
            </div>
            <div>
              <img src="../../assets/merchant_icons/sbi.svg" alt="">
            </div>
            <div>
            <img src="../../assets/merchant_icons/bankofbaroda.svg" alt="">
          </div>
      
          </ion-col>
      </ion-row>
<br>
      <ion-row>
          <p id="para">ALL BANKS</p>
          </ion-row>
          <br>
        <ion-row>
          <ion-col size="6">
          <div>
        <p> <img src="../../assets/merchant_icons/bank_smallest.svg" alt="" class="img2">&nbsp;&nbsp;&nbsp;&nbsp;Bank Name</p>
        </div>
        <br>
        <div>
          <p> <img src="../../assets/merchant_icons/bank_smallest.svg" alt="" class="img2">&nbsp;&nbsp;&nbsp;&nbsp;Bank Name</p>
          </div>
          <br>
          <div>
            <p> <img src="../../assets/merchant_icons/bank_smallest.svg" alt="" class="img2">&nbsp;&nbsp;&nbsp;&nbsp;Bank Name</p>
            </div>
            <br>
            <div>
              <p> <img src="../../assets/merchant_icons/bank_smallest.svg" alt="" class="img2">&nbsp;&nbsp;&nbsp;&nbsp;Bank Name</p>
              </div>
              <br>
              <div>
                <p> <img src="../../assets/merchant_icons/bank_smallest.svg" alt="" class="img2">&nbsp;&nbsp;&nbsp;&nbsp;Bank Name</p>
                </div>
                <br>
                <div>
                  <p> <img src="../../assets/merchant_icons/bank_smallest.svg" alt="" class="img2">&nbsp;&nbsp;&nbsp;&nbsp;Bank Name</p>
                  </div>
                  <br>
                  <div>
                    <p> <img src="../../assets/merchant_icons/bank_smallest.svg" alt="" class="img2">&nbsp;&nbsp;&nbsp;&nbsp;Bank Name</p>
                    </div>
                    <br>
                    <div>
                      <p> <img src="../../assets/merchant_icons/bank_smallest.svg" alt="" class="img2">&nbsp;&nbsp;&nbsp;&nbsp;Bank Name</p>
                      </div>
                                                                                                                                          
             </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-router-outlet></ion-router-outlet>
