<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="dashboard-heading">
            <h4 style="font-weight:bold;">Dashback</h4>
            <p class="para2">Merchant</p>
        </ion-col>
         </ion-row>
      <ion-row>
      <ion-col size="2">
        <img src="../../assets/profile.svg" alt="" class="img">
        </ion-col>
        <ion-col size="2">
         <h6>MERCHANT NAME</h6>
         <p><img src="../../assets/merchant_icons/bank_smallest.svg" alt="" class="img2">&nbsp;Bank Name XXXX1234</p>
       </ion-col>
      </ion-row>
      <br>
      <br>
      <ion-row>
        <ion-col size="6">
          <ion-button size="small" class="btn2">Payments</ion-button>
        </ion-col>
      
        <ion-col size="6">
          <ion-button size="small" class="btn1">Settlements</ion-button>
        </ion-col>
        </ion-row>
        <ion-row>  
          <ion-card class="card">
            <ion-card-content>
              <ion-row>
                <ion-col size="6">
              <p style="color:white;margin-left:20px;margin-top:20px;font-size: 18px;">Available Balance</p>
                </ion-col>
                <ion-col size="6">
           <p style="font-size:30px;color:white;margin-top:12px"><img src="../../assets/rupee_big.svg" alt="" style="height:21px;width:20px;margin-top:5px;margin-left:30px;">000.0</p>
                 </ion-col>
                </ion-row>
              <br>
              <p style="color:black;font-size:10px;margin-left:115px;">Today.0 Payments</p>
              <br>
              <ion-row id="para">
                <ion-col size="7">
              <p style="color:white;font-size:10px;margin-left:8px;">Maximum amount for Bank transfer is 10<br>Accept payments Today</p>
            </ion-col>
            <ion-col size="5">
              <ion-button size="small" class="button">Settle Now</ion-button>
            </ion-col>  
            </ion-row>
            <hr>
              <h6 style="color:indigo;margin-left:10px;">Previous Settlements</h6>
         <p><img src="../../assets/merchant_icons/dashback_money.svg" alt="" style="height:40px;width:40px;margin-left:140px;"></p>
        <p style="color:white;font-size:10px;margin-left:70px;">You do not have settlements in last 30 days</p>
     <p style="color:indigo;margin-left:80px;font-weight:bold;font-size:10px">  <img src="../../assets/calender_today.svg" alt="" style="height:15px;width:15px;">&nbsp;&nbsp;&nbsp;View Past Settlements</p>    
            </ion-card-content>
          </ion-card>
        </ion-row>
        <br>
        <ion-row>
        <ion-col size="6">
          <img src="../../assets/merchant_icons/add_member.svg" alt="">
        </ion-col>
        <ion-col size="6">
          <img src="../../assets/merchant_icons/get_qr.svg" alt="">
        </ion-col>
      </ion-row>
<br>
      <ion-row>  
        <ion-card class="card1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="dot"></span>&nbsp;
          <span class="dot"></span>&nbsp;
          <span class="dot"></span>
          <ion-card-content>
      </ion-card-content>
      </ion-card>
    </ion-row>
      </ion-grid>
  </div>
</ion-content>
