<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
      <ion-col size="2">
        <img src="../../assets/profile.svg" alt="" class="img">
        </ion-col>
        <ion-col size="2">
         <h6>MERCHANT NAME</h6>
         <p><img src="../../assets/merchant_icons/bank_smallest.svg" alt="" class="img2">&nbsp;Bank Name XXXX1234</p>
       </ion-col>
      </ion-row>
      <br>
      <br>
      <ion-row>
        <ion-col size="6">
          <ion-button size="small" class="btn2">Payments</ion-button>
        </ion-col>
      
        <ion-col size="6">
          <ion-button size="small" class="btn1">Settlements</ion-button>
        </ion-col>
        </ion-row>
        <ion-row>  
          <ion-card class="card">
            <ion-card-content>
              <p style="color:white;margin-left:20px;margin-top:20px;font-size: 15px;">Available Balance&nbsp;&nbsp;&nbsp; <img src="../../assets/rupee_big.svg" alt="" style="height:20px;width:20px;">&nbsp;000.0</p>
              <br>
              <p style="color:black;font-size:8px;margin-left:85px;">Today.0 Payments</p>
              <br>
              <ion-row id="para">
                <ion-col size="7">
              <p style="color:white;font-size:8px;margin-left:5px;">Maximum amount for Bank transfer is 10<br>Accept payments Today</p>
            </ion-col>
            <ion-col size="5">
              <ion-button size="small" class="button">Settle Now</ion-button>
            </ion-col>  
            </ion-row>
            <hr>
              <h6 style="color:indigo;margin-left:10px;">Previous Settlements</h6>
              <br>
         <p><img src="../../assets/merchant_icons/dashback_money.svg" alt="" style="height:35px;width:35px;margin-left:100px;"></p>
             <br> 
             <p style="color:white;font-size:8px;margin-left:50px;">You do not have settlements in last 30 days</p>
     <p style="color:indigo;margin-left:70px;font-weight:bold;">  <img src="../../assets/calender_today.svg" alt="" style="height:10px;width:10px;">&nbsp;&nbsp;&nbsp;View Past Settlements</p>    
            </ion-card-content>
          </ion-card>
        </ion-row>
        <br>
        <ion-row>
        <ion-col size="6">
          <img src="../../assets/merchant_icons/add_member.svg" alt="">
        </ion-col>
        <ion-col size="6">
          <img src="../../assets/merchant_icons/get_qr.svg" alt="">
        </ion-col>
      </ion-row>
<br>
      <ion-row>  
        <ion-card class="card1">
          <ion-card-content>
      </ion-card-content>
      </ion-card>
    </ion-row>
      </ion-grid>
  </div>
</ion-content>
