<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
      <ion-col size="2">
        <img src="../../assets/profile.svg" alt="" class="img">
        </ion-col>
        <ion-col size="2">
         <h6>&nbsp;&nbsp;MERCHANT NAME</h6>
         <p>&nbsp;<img src="../../assets/merchant_icons/bank_smallest.svg" alt="" class="img2">&nbsp;Bank Name XXXX1234</p>
       </ion-col>
      </ion-row>
      <br>
      <br>
      <ion-row>
        <ion-col size="6">
          <ion-button size="small" class="btn1">Payments</ion-button>
        </ion-col>
      
        <ion-col size="6">
          <ion-button size="small" class="btn2">Settlements</ion-button>
        </ion-col>
        </ion-row>
        <ion-row>  
          <ion-card class="card">
            <ion-card-content>
             <div class="v1">
               <p><img src="../../assets/calender_today.svg" alt="" style="height:20px;width:20px;margin-left:-420px;margin-top:30px;"><ion-select></ion-select>
               </p>
             </div>
             <img src="../../assets/rupee_big.svg" alt="" style="height:30px;width:30px;margin-top:-500px;">
              <p style="color:white;font-size:10px;">You have no payments today</p>
              <br>
              <p style="color:black;font-size:10px;">Start accepting new payments</p>
              
            </ion-card-content>
          </ion-card>
        </ion-row>
        <br>
        <ion-row>
        <ion-col size="6">
          <img src="../../assets/merchant_icons/add_member.svg" alt="">
        </ion-col>
        <ion-col size="6">
          <img src="../../assets/merchant_icons/get_qr.svg" alt="">
        </ion-col>
      </ion-row>
<br>
      <ion-row>  
        <ion-card class="card1">
          <span class="dot"></span>&nbsp;
          <span class="dot"></span>&nbsp;
          <span class="dot"></span>
          <ion-card-content>
      </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <h6 class="heading">Grow your Business</h6>
    </ion-row>
    <br>
    <ion-row>
      &nbsp;&nbsp;&nbsp;&nbsp;
     <img src="../../assets/merchant_icons/req_payment.svg" alt="" class="img4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="../../assets/merchant_icons/account_entry.svg" alt="" class="img4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="../../assets/merchant_icons/shopping.svg" alt="" class="img4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="../../assets/merchant_icons/see_all.svg" alt="" class="img4">
    </ion-row>
    <ion-row>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <p id="para2">Request<br>Payment</p>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <p id="para2">Account<br>Entry</p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <p id="para2">Shopping</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <p id="para2">See All</p>
    </ion-row>
    <br>
    <ion-row>
      <h6 class="heading">Ease Your Life</h6> 
    </ion-row>
      </ion-grid>
  </div>
</ion-content>

