<ion-content>
  <div class="container">
     <ion-item>
    <ion-icon name="arrow-back-circle-outline" class="back"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label class="label">Language</ion-label>&nbsp;&nbsp;
      <ion-select placeholder="ENG" class="select">
        <ion-select-option value="e">ENG</ion-select-option>
        <ion-select-option value="e">ENG</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
    <div>
    <h6>Enter Mobile Number</h6>
    <br>
    <input type="text" placeholder="+91 0000-000000">
    <br>
    <br>
    <br>
     <br>
    <ion-button size="tertiary" class="btn">Login</ion-button> 
    <br>
    <br>
    <br>
    <br>
    <div>
    <p id="para">or </p>&nbsp;
    <p id="para1">Create a New Account</p>
    </div>
    </div>
  </ion-item>
   </div>
</ion-content>
